<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.teamex.svc.mapper.AllowanceMapper">

<!-- ## Allowance Status Report ## -->

  <!-- Allowance list  --> 
  <select id="selectList" parameterType="Map" resultType="Allowance">
     select a.div,
            a.technician,
            a.tech_id,
            sum(a.distance) as distance,
            sum(a.other_distance) as other_distance,
            sum(a.mov_distance) as mov_distance,
            round(sum(a.mov_distance)/45,2) as mov_hours,
            sum(a.std_work_hours) as std_work_hours,
            round(sum(a.mov_distance)/45,2) + sum(a.std_work_hours) as tot_work_hours
       from fsworkhr a
         left outer join msuserms b on b.div = a.div and b.user_id = a.tech_id
      where a.div = #{div}
        and a.start_date between to_date(#{start_dt},'mm/dd/yyyy') and to_date(#{end_dt},'mm/dd/yyyy')+1
      group by a.div, a.technician, a.tech_id
      order by a.div, a.technician
  </select>
  
  <!-- Evaluation Rawdata --> 
  <select id="selectRawData" parameterType="Map" resultType="Allowance">
    select a.div                     as div,
           a.transaction_no          as transaction_no,
           a.transaction_status      as transaction_status,
           a.transaction_type        as trasaction_type,
           a.transaction_date        as trasaction_date,
           a.dispatch_status         as dispatch_status,
           a.dispatch_technician     as dispatch_technician,
           a.technician              as technician,
           to_char(a.start_date,'mm/dd/yyyy') as start_date,
           a.complete_date           as complete_date,
           a.tech_id                 as tech_id,
           a.site_cd                 as site_cd,
           c.name                    as site_nm,
           a.distance                as distance,
           a.other_distance          as other_distance,
           a.mov_distance            as mov_distance,
           a.mov_hours               as mov_hours,
           a.std_work_hours          as std_work_hours,
           a.tot_work_hours          as tot_work_hours,
           a.adj_hours               as adj_hours,
           a.real_tot_work_hours     as real_tot_work_hours,
           a.remark                  as remark,
           a.create_id               as create_id,
           a.create_date             as create_date,
           a.update_id               as update_id,
           a.update_date             as update_date,
           a.confirm_id              as confirm_id,
           a.confirm_date            as confirm_date
      from fsworkhr a
        left outer join msuserms b on b.div = a.div and b.user_id = a.tech_id
        left outer join mssitems c on c.div = a.div and c.site_cd = a.site_cd and c.status = 'A'
     where a.div = #{div}
       and a.start_date between to_date(#{start_dt},'mm/dd/yyyy') and to_date(#{end_dt},'mm/dd/yyyy')+1
     order by a.technician, a.start_date
  </select>

  <!-- ## Allowance Monthly Accumulate Retrieve -->
  <!-- Allowance Monthly Accumulation list  --> 
  <select id="selectMList" parameterType="Map" resultType="Allowance">
     select a.div,
            a.technician,
            a.w_year,
            a.w_month,
            a.week_per_mon,
            to_char(to_date(a.start_date,'yyyymmdd'), 'mm/dd/yyyy') as start_date,
            to_char(to_date(a.end_date,'yyyymmdd'),'mm/dd/yyyy') as end_date,
            a.tech_user_id    as tech_id,
            a.distance        as distance,
            a.other_distance  as other_distance,
            a.mov_distance    as mov_distance,
            a.mov_hours       as mov_hours,
            a.std_work_hours  as std_work_hours,
            a.tot_work_hours  as tot_work_hours
       from fsworkwk a
         left outer join msuserms b on b.div = a.div and b.user_id = a.tech_user_id
      where a.div = #{div}
        and a.w_year = #{w_year}
        and a.w_month = #{w_month}
      order by a.div, a.technician, a.w_year, a.w_month, a.week_per_mon
  </select>
</mapper>